<div class="card waves-light mb-4 scale-in-center">
  <div class="card-header">
      <h4 class="white-text">Title: {{movie.Title | titlecase}}</h4>
  </div>
  <div class="card-body white-text">
      Director: {{movie.Director | titlecase}}<br>
      Year: {{movie.Year}}<br>
      Runtime: {{movie.Runtime}}<br>
      Genre: {{movie.Genre | titlecase}}<br>
  </div>
  <div class="card-footer">
    <!-- <a [routerLink]="['/movies/', movie.id]" mdbBtn color="white" mdbWavesEffect>More details</a> -->
    <button mdbBtn type="button" color="#aa66cc" data-toggle="modal" data-target="#exampleModal"
            (click)="movieSelected(movie)" mdbWavesEffect>Edit movie
    </button>
    <button (click)="onRemove($event)" class="float-right" mdbBtn type="button">delete
      <i class="fas fa-trash" aria-hidden="true"></i></button>
  </div>
</div>

