<div class="card waves-light mb-4 scale-in-center">
  <img class="card-img-top" src="{{movie.Poster}}" alt="Card image cap">
  <div class="card-header">
      <h4 class="white-text">Title: {{movie.Title | titlecase}}</h4>
  </div>
  <div class="card-body white-text">
      Director: {{movie.Director | titlecase}}<br>
      Year: {{movie.Year}}<br>
      Runtime: {{movie.Runtime}}<br>
      Genre: {{movie.Genre | titlecase}}<br>
  </div>
  <div class="card-footer">
    <button class="float-left btn third"
            (click)="movieSelected(movie)">Edit movie
    </button>
      <button (click)="onRemove($event)" class="float-right btn first">
        delete  <i class="fas fa-trash fa-1x" aria-hidden="true"></i>
        </button>
  </div>
</div>

