@import '../../../styles';

.top-nav-collapse {
  background-color: $primary-color !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: $secondary-color;
  }
}
