<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">Movies <i class="fas fa-film fa-1x pr-3" aria-hidden="true"></i></a>
  </mdb-navbar-brand>
  <links>
    <div class="navbar-nav">
      <a class="nav-item nav-link active waves-light" mdbWavesEffect>Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active waves-light" (click)="onCreateMovie()"  mdbWavesEffect>Add Movie</a>
    </div>
  </links>
</mdb-navbar>
